.userProfile {
  width: 320px;
  margin: 0px auto 20px auto;
  border: 2px solid rgb(33, 37, 37);
  border-radius: 10px;
  overflow: hidden;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px;
}

.userPicture {
  width: 120px;
  border-radius: 50%;
  background-color: rgb(33, 37, 37);
}

.userName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.userTag,
.userLocation {
  font-size: 20px;
  color: gray;
}

.userStats {
  display: flex;
  margin: -1px;
  background-color: lightgrey;
}

.userStats li {
  flex-basis: calc((100% + 6px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  padding: 15px 0 15px;
  margin: -1px;
}

.userStats li span:first-child {
  font-size: 18px;
}

.userStats li span:last-child {
  font-size: 20px;
  font-weight: bold;
}
