.friend {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px 15px;
  border: 2px solid rgb(33, 37, 37);
  border-radius: 10px;
  font-size: 24px;
}

.friendAvatar {
  width: 100%;
  margin-bottom: 10px;
}

.friendStatusOnline,
.friendStatusOffline {
  font-size: 14px;
}

.friendStatusOnline {
  color: green;
}

.friendStatusOffline {
  color: red;
}
